<%= render 'books/new', books: @books %>

<h1>Book detail</h1>
<div>
  <%= image_tag @book.get_image %>
  <p><%= @book.user.name %></p>
  <%= link_to books_path(@book) do %>
    <p><%= @book.title %></p>
  <% end %>
  <p><%= @book.body %></p>
  
  <%= link_to "Edit", edit_book_path(@book) %>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？"  %>
  <% end %>
</div>
